<div class="page">

  <div class="top-nav">
    <button class="menu-btn" (click)="toggleMenu()">☰</button>

    <div class="menu" *ngIf="menuOpen">
      <button routerLink="/">Quiz</button>
      <button routerLink="/login" *ngIf="!isAdmin">Admin Login</button>
      <button routerLink="/admin" *ngIf="isAdmin">Admin</button>
    </div>
  </div>

  <div class="center">

    <div class="card" *ngIf="!finished && question">

      <div class="top-bar">
        <span>Score: {{ score }}</span>
        <span>{{ currentQuestionIndex + 1 }} / {{ questions.length }}</span>
      </div>

      <h1>{{ question.questionText }}</h1>

      <div class="answers">
        <button
          *ngFor="let a of question.answers"
          (click)="checkAnswer(a.answerText)"
          [disabled]="answered"
          [ngClass]="{
            'correct': answered && a.answerText === correctAnswer,
            'wrong': answered && a.answerText === selectedAnswer && a.answerText !== correctAnswer
          }"
        >
          {{ a.answerText }}
        </button>
      </div>

      <button class="next" (click)="nextQuestion()" [disabled]="!answered">
        Next
      </button>

    </div>

    <div class="card" *ngIf="finished">

      <h1>Finished 🎉</h1>
      <h2>{{ score }} / {{ questions.length }}</h2>
      <h3>{{ (score / questions.length * 100) | number:'1.0-0' }}%</h3>

      <button class="next" (click)="resetQuiz()">Restart</button>

    </div>

  </div>

</div>
